.header{
    padding-block: 1.5rem;
   
}

.header-content{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header.is-background{
    block-size: 40rem;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-position: center  !important;
    background-repeat: no-repeat;
   

}


/* SEARCH */

.search{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.search * {
    border: 0;
}

.search-txt{
    background: var(--white);
    padding: .75rem;
    font: var(--body2-regular);
    color: var(--grey);
    border-radius: .5rem 0 0 .5rem;
    max-inline-size: 31rem;
    width: 100%;
    outline: 0;
    max-block-size: 2.75rem;
    padding-block: .625rem;
    
    
}

.header-back{
    font-size: 2rem;
    color: var(--white);
}

.search-txt::placeholder{
    font: var(--body2-regular);
    color: var(--grey);
}

.search-btn{
    background: var(--primary);
    max-block-size: 2.75rem;
    padding-block: .625rem;
    box-sizing: border-box;
    padding-inline: 1.5rem;
    border-radius: 0 .5rem .5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}


.search-btn:active{
    transform: scale(.9);
}